<% if @coffee %>
  <h1>Reviews of <%= @coffee.blend_name %></h1>

  <p><%= link_to "Leave a Review", new_coffee_review_path(@coffee) %></p>
<% else %>
  <h1>Reviews</h1>
<% end %>

<% if @reviews.any? %>
  <ul>
    <%= @reviews.each do |review| %>
      <li><%= link_to "#{review.coffee.blend_name} by #{review.user}", review_path(review) %></li>
    <% end %>
  </ul>
<% else %>
  <h3>There are no reviews saved.</h3>
<% end %>
